<a href="https://colab.research.google.com/github/ciaoCiao100/ia_esame/blob/master/Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import functools
import numpy as np
import tensorflow as tf
from sklearn import tree
import matplotlib as plt
import nltk

import sklearn.metrics as metrics
import sklearn
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
 

# operazione che fa in modo che i numeri siano più leggibili
np.set_printoptions(precision=3, suppress=True)

customer_file_path = "/content/drive/My Drive/appointment_data.csv"
df = pd.read_csv(customer_file_path)
df.head()

  No-show     PatientId  AppointmentID  ... Alcoholism Handcap SMS_received
0      No  1.328492e+12        5687610  ...          0       0            0
1      No  3.881869e+14        5694484  ...          0       0            0
2     Yes  9.118992e+12        5500939  ...          0       0            0
3      No  1.843618e+14        5639080  ...          0       0            0
4      No  5.783198e+13        5671566  ...          1       0            0

[5 rows x 14 columns]

divido il dataset e creo due file di train e test

In [9]:
train, test = train_test_split(df,test_size=0.2)
train= train.to_csv('train.csv', index = False)
test = test.to_csv('test.csv',index = False)